body {
  font-family: Brandon Text, Arial, sans-serif;
}

.bigcontainer {
  width: 61%;

  margin-left: 1%;
  margin-top: 1%;
  display: flex;
}
.free {
  font-size: 0.7rem;
  color: #333;
  margin-left: 3.3%;
  font-weight: 700;
}
.subheading {
  width: 100%;
  font-size: 0.8rem;
  color: #393936;
  margin-left: -5%;
  line-height: 1.4;
}
.subheadingt {
  width: 90%;
  margin-top: 2%;
  margin-left: 1%;

  color: #333;
  font-size: 0.8rem;
  line-height: 1.4;
}
.list {
  font-size: 0.8rem;
  color: #393936;
  margin-left: -3%;
  line-height: 1.4;
}
.left {
  width: 50%;
}
.right {
  width: 50%;
}
.line {
  width: 61%;
  background-color: #333;
  margin-left: 1%;
  height: 0.1vh;
  margin-top: 2%;
}
.heading {
  margin-top: 2%;
  margin-left: 1%;
  color: #393936;
  font-weight: 700;
}
.gif {
  width: 100%;

  display: flex;
}

.delivery {
  margin-top: 5%;
}
.free1 {
  margin-top: 5%;
}
.free3 {
  margin-top: 3%;
  font-size: 0.7rem;
  color: #333;
  margin-left: 1%;
  font-weight: 700;
}
.skim {
  font-weight: 700;
  font-size: 1rem;
  margin-bottom: 10px;
  margin-top: 2%;
  margin-left: 1%;
  text-decoration: underline;
}
.founded {
  color: #393936;
  font-size: 0.8rem;
  line-height: 1.4;
  margin-left: 1%;
}
