.signInOptionsCont {
    display: flex;
    width: 250px;
    height: 400px;
}

.yourAccount {
    font-size: 14px;
    padding: 20px 0 10px 10px;
    text-align: left;
}

.signInOptionsBox {
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
}

.optDum {
    text-decoration: none !important;
    color: rgb(65, 62, 62) !important;
    padding: 10px 1px 5px 0px;
    font-size: 12px;
    cursor: pointer;
}

.signInBtn {
    width: 200px;
    background-color: black;
    color: white;
    padding: 10px;
    font-size: 12px;
    text-decoration: none;
    text-align: center;
}

.signInBtn:hover {
    opacity: 90%;
} 