.boxOne {
    width: 95%;
    height: 500px;
    margin: auto;
    margin-top: 50px;
    cursor: pointer;
}

.boxOneImg {
    width: 100%;
    height: 500px;
}

.boxTwo, .boxThree {
    width: 96.5%;
    height: 600px;
    margin: auto;
    margin-left: 2.5%;
    margin-top: 50px;
    display: flex;
    cursor: pointer;
}

.boxTwo img {
    width: 50%;
}

.boxThree {
    height: 200px;
    margin-top: -40px;
    text-align: left;
}

.boxThreeDetOne {
    width: 50%;
}

.boxThreeDetOne div:nth-child(1) {
    font-weight: 700;
}

.boxThreeDetOne div:nth-child(2) {
    color: rgb(51, 49, 49);
    font-size: 14px;
    width: 80%;
    padding-top: 2px;
    line-height: 20px;
}

.boxThreeDetOne div:nth-child(3) {
    display: flex;
}

.Brady {
    padding: 10px 20px 0px 0px;
    color: black;
    font-size: 14px;
}