body {
  font-family: Brandon Text, Arial, sans-serif;
}

.bigcontainer {
  display: flex;
  gap: 1%;
  margin-bottom: 38%;
}

.nacat {
  color: black;
  text-decoration: none;
  cursor: auto;
  text-align: left;
  margin-top: 2%;
}

.nacat h5 {
  font-size: 0.9rem;
  font-weight: 700;
  color: #282c3f;
  padding: 0;
  margin-top: 1%;
  text-decoration: none;
}

.nacat p {
  color: #686b78;
  font-size: 0.9rem;
  font-weight: 300;
  text-decoration: none;
  margin-top: -1%;
}

.leftw {
  width: 20%;
  margin-top: 1.4%;
}

.righty {
  width: 84%;
}

.rightw {
  width: 100%;

  display: grid;
  grid-template-columns: repeat(4, 23%);
  gap: 2%;
}

.banner {
  max-width: 98%;
  margin-top: 3%;
  margin-bottom: 2%;
}

.leftfunctionality {
  width: 100%;
  margin-top: 5%;
}

.prod {
  width: 100%;
  cursor: pointer;
}

.takes {
  width: 84%;

  display: grid;
  grid-template-rows: 21% 21% 21% 21%;
  gap: 2%;
}

.image {
  width: 100%;
}

.bannerimage {
  max-width: 100%;
}

.categoryBox {
  padding: 0%;
  cursor: pointer;
}

.category-link {
  list-style: none;
  color: rgba(0, 0, 0, 0.61);
  font-size: 0.1rem;
  margin: 0.4vmax;

  transition: all 0.5s;
}

.category-link:hover {
  color: tomato;
}
