.bigcontainer {
  border: 1px solid red;
  display: flex;
  gap: 1%;
}
.leftw {
  width: 20%;
  border: 1px solid black;
}

.rightw {
  width: 84%;
  border: 1px solid green;
  display: grid;
  grid-template-columns: repeat(4, 23%);
  gap: 2%;
}

.prod {
  width: 100%;
  border: 1px solid hotpink;
  /* display: grid;
  grid-template-columns: repeat(4, 23%);
  gap: 2%; */
}
.takes {
  width: 84%;
  border: 1px solid green;
  display: grid;
  grid-template-rows: 21% 21% 21% 21%;
  gap: 2%;
}
.image {
  width: 100%;
}
